Repository boostcamp-2020/Project17-C-Map, pull requests merged in 2020-11, with the labels that each got.

#7 CoreData를 관리하는 CoreDataStack 구현
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/xcshareddata/xcschemes/InteractiveClusteringMap.xcscheme
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/xcshareddata/xcschemes/InteractiveClusteringMapTests.xcscheme
  Project17-C-Map/InteractiveClusteringMap/AppDelegate.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/CoreDataStack.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/DataManagable.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIEntity+CoreDataClass.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIEntity+CoreDataProperties.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIService.swift
  Project17-C-Map/InteractiveClusteringMap/InteractiveClusteringMap.xcdatamodeld/InteractiveClusteringMap.xcdatamodel/contents
  Project17-C-Map/InteractiveClusteringMap/Model.xcdatamodeld/.xccurrentversion
  Project17-C-Map/InteractiveClusteringMap/Model.xcdatamodeld/InteractiveClusteringMap.xcdatamodel/contents
  Project17-C-Map/InteractiveClusteringMap/SceneDelegate.swift
  Project17-C-Map/InteractiveClusteringMap/VO/POI.swift
  Project17-C-Map/InteractiveClusteringMap/ViewController.swift
  Project17-C-Map/InteractiveClusteringMapTests/CoreDataStackTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/InteractiveClusteringMapTests.swift
Labels: data, feat

#9 [feat] 마커 구현
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/Base.lproj/Main.storyboard
  Project17-C-Map/InteractiveClusteringMap/InteractiveMapView.swift
  Project17-C-Map/InteractiveClusteringMap/MapController.swift
  Project17-C-Map/InteractiveClusteringMap/MapViewController.swift
Labels: UI, feat

#6 map 초기 설정
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/Base.lproj/Main.storyboard
  Project17-C-Map/InteractiveClusteringMap/CoreData/CoreDataStack.swift
  Project17-C-Map/InteractiveClusteringMap/Info.plist
  Project17-C-Map/InteractiveClusteringMap/InteractiveMapView.swift
  Project17-C-Map/InteractiveClusteringMap/MapController.swift
  Project17-C-Map/InteractiveClusteringMap/MapViewController.swift
  Project17-C-Map/InteractiveClusteringMap/ViewController.swift
Labels: UI, feat

#8 Core Data에 POI JSON 데이터 삽입
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/CoreData/CoreDataStack.swift
  Project17-C-Map/InteractiveClusteringMap/Model.xcdatamodeld/InteractiveClusteringMap.xcdatamodel/contents
  Project17-C-Map/InteractiveClusteringMap/Resource/Place.swift
  Project17-C-Map/InteractiveClusteringMap/Util/JSONReader.swift
  Project17-C-Map/InteractiveClusteringMap/VO/POI.swift
  Project17-C-Map/InteractiveClusteringMap/restuarant-list-for-test.json
Labels: data, feat

#12 Sprint1 병합
  Project17-C-Map/.swiftlint.yml
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/AppDelegate.swift
  Project17-C-Map/InteractiveClusteringMap/Base.lproj/Main.storyboard
  Project17-C-Map/InteractiveClusteringMap/CoreData/CoreDataStack.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIService.swift
  Project17-C-Map/InteractiveClusteringMap/MapController.swift
  Project17-C-Map/InteractiveClusteringMap/MapViewController.swift
  Project17-C-Map/InteractiveClusteringMap/Resource/restuarant-list-for-test.json
  Project17-C-Map/InteractiveClusteringMap/SceneDelegate.swift
  Project17-C-Map/InteractiveClusteringMap/Util/JSONReader.swift
  Project17-C-Map/InteractiveClusteringMap/VO/POI.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Place.swift
Labels: feat, fix

#24 Quadtree bounding box 구현
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIEntity+CoreDataProperties.swift
  Project17-C-Map/InteractiveClusteringMap/QuadTree/BoundingBox.swift
  Project17-C-Map/InteractiveClusteringMap/Util/Extension.swift
  Project17-C-Map/InteractiveClusteringMapTests/CoreDataStackTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/BoundingBoxTests.swift
Labels: clustering, feat, test

#25 Quadtree node 구현, 테스트
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/xcshareddata/xcschemes/InteractiveClusteringMapTests.xcscheme
  Project17-C-Map/InteractiveClusteringMap/QuadTree/BoundingBox.swift
  Project17-C-Map/InteractiveClusteringMap/QuadTree/QuadTree.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/BoundingBoxTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/QuadTreeTests.swift
  Project17-C-Map/Podfile
  Project17-C-Map/Podfile.lock
Labels: clustering, feat, test

#30 현재 위치 권한 화면 바로 사라지던 것 고침
  Project17-C-Map/InteractiveClusteringMap/MapViewController.swift
Labels: fix

#33 K 결정 및 알고리즘 성능 판단(실루엣 이용) 함수 추가, 테스트
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/KCoefficient.swift
  Project17-C-Map/InteractiveClusteringMap/QuadTree/BoundingBox.swift
  Project17-C-Map/InteractiveClusteringMapTests/KDefineTests.swift
Labels: clustering, feat, test

#31 KMeans clustering 알고리즘 구현 및 Cluster의 hashValue 테스트
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/MapViewController.swift
  Project17-C-Map/InteractiveClusteringMap/QuadTree/BoundingBox.swift
  Project17-C-Map/InteractiveClusteringMap/VO/KMeansClustering.swift
  Project17-C-Map/InteractiveClusteringMapTests/InteractiveClusteringMapTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeansTests.swift
Labels: clustering, feat, test

#34 KMeans 중심값 생성 함수 추가 및 코드 리팩토링
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Degree.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KCoefficient.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KMeans.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Quadrant.swift
  Project17-C-Map/InteractiveClusteringMap/QuadTree/BoundingBox.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Cluster.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Coordinate.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeansCentroidsTest.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeansTests.swift
Labels: clustering, feat, refactor, test

#36 2주차 코드 프리징
  Project17-C-Map/.swiftlint.yml
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/xcshareddata/xcschemes/InteractiveClusteringMap.xcscheme
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/xcshareddata/xcschemes/InteractiveClusteringMapTests.xcscheme
  Project17-C-Map/InteractiveClusteringMap/AppDelegate.swift
  Project17-C-Map/InteractiveClusteringMap/Base.lproj/Main.storyboard
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Degree.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KCoefficient.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KMeans.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Quadrant.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/CoreDataStack.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/DataManagable.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIEntity+CoreDataClass.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIEntity+CoreDataProperties.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIService.swift
  Project17-C-Map/InteractiveClusteringMap/Info.plist
  Project17-C-Map/InteractiveClusteringMap/InteractiveClusteringMap.xcdatamodeld/InteractiveClusteringMap.xcdatamodel/contents
  Project17-C-Map/InteractiveClusteringMap/InteractiveMapView.swift
  Project17-C-Map/InteractiveClusteringMap/MapController.swift
  Project17-C-Map/InteractiveClusteringMap/MapViewController.swift
  Project17-C-Map/InteractiveClusteringMap/Model.xcdatamodeld/.xccurrentversion
  Project17-C-Map/InteractiveClusteringMap/Model.xcdatamodeld/InteractiveClusteringMap.xcdatamodel/contents
  Project17-C-Map/InteractiveClusteringMap/QuadTree/BoundingBox.swift
  Project17-C-Map/InteractiveClusteringMap/QuadTree/QuadTree.swift
  Project17-C-Map/InteractiveClusteringMap/Resource/restuarant-list-for-test.json
  Project17-C-Map/InteractiveClusteringMap/SceneDelegate.swift
  Project17-C-Map/InteractiveClusteringMap/Util/Extension.swift
  Project17-C-Map/InteractiveClusteringMap/Util/JSONReader.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Cluster.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Coordinate.swift
  Project17-C-Map/InteractiveClusteringMap/VO/POI.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Place.swift
  Project17-C-Map/InteractiveClusteringMap/ViewController.swift
  Project17-C-Map/InteractiveClusteringMapTests/CoreDataStackTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/InteractiveClusteringMapTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/KDefineTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeansCentroidsTest.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeansTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/BoundingBoxTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/QuadTreeTests.swift
  Project17-C-Map/Podfile
  Project17-C-Map/Podfile.lock
Labels: clustering, feat

#38 QuadtreeClusteringService 구현
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/xcshareddata/xcbaselines/37EB733D2562592900AC44D6.xcbaseline/F5E5C7C8-6624-4273-A05A-F99A4975DE91.plist
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/xcshareddata/xcbaselines/37EB733D2562592900AC44D6.xcbaseline/Info.plist
  Project17-C-Map/InteractiveClusteringMap/QuadTree/QuadTree.swift
  Project17-C-Map/InteractiveClusteringMap/QuadTree/QuadTreeClusteringService.swift
  Project17-C-Map/InteractiveClusteringMap/VO/BoundingBox.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Coordinate.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/BoundingBoxTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/Mockup.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/QuadTreeServiceTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/QuadTreeTests.swift
Labels: clustering, feat, test

#37 KMeans 중심값 생성 함수 추가 (BallCut)
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Centroids/BallCutCentroidGenerator.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Centroids/RandomCentroidGenerator.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Centroids/ScreenCentroidGenerator.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KMeans.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Metrics/Degree.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Metrics/Quadrant.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Coordinate.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KDefineTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KMeansCentroidsTest.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KMeansPerformanceTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KMeansTests.swift
Labels: clustering, feat

#41 VIP 구조로 변경, TileCoverHelper 사용해 클러스터링 구현
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/Clustering/ClusteringServicing.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KMeans.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/QuadTree/QuadTree.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/QuadTree/QuadTreeClusteringService.swift
  Project17-C-Map/InteractiveClusteringMap/CoreData/POI/POIService.swift
  Project17-C-Map/InteractiveClusteringMap/Map/InteractiveMapView.swift
  Project17-C-Map/InteractiveClusteringMap/Map/InteractiveMarker.swift
  Project17-C-Map/InteractiveClusteringMap/Map/MapController.swift
  Project17-C-Map/InteractiveClusteringMap/Map/MapInteractor.swift
  Project17-C-Map/InteractiveClusteringMap/Map/MapPresenter.swift
  Project17-C-Map/InteractiveClusteringMap/Map/MapViewController.swift
  Project17-C-Map/InteractiveClusteringMap/MapController.swift
  Project17-C-Map/InteractiveClusteringMap/MapViewController.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KMeansCentroidsTest.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KMeansTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/QuadTreeTests/QuadTreeServiceTests.swift
Labels: UI, clustering, feat, fix, refactor

#44 KMeans 실루엣 검증을 통해 가장 최적의 K를 가지는 cluster 도출
  Project17-C-Map/InteractiveClusteringMap.xcodeproj/project.pbxproj
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Centroids/BallCutCentroidGenerator.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Centroids/RandomCentroidGenerator.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/Centroids/ScreenCentroidGenerator.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KCoefficient.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KMeans.swift
  Project17-C-Map/InteractiveClusteringMap/Clustering/KMeans/KMeansValidateService.swift
  Project17-C-Map/InteractiveClusteringMap/Map/MapViewController.swift
  Project17-C-Map/InteractiveClusteringMap/Util/Array+Subscript.swift
  Project17-C-Map/InteractiveClusteringMap/VO/Clusters.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KDefineTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KMeansCentroidsTest.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KMeansPerformanceTests.swift
  Project17-C-Map/InteractiveClusteringMapTests/KMeans/KMeansTests.swift
Labels: clustering, feat, test
